
body{
  background:url("./components/images/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
  font-family: 'Sora', sans-serif;
}
.App {
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.about{
  margin:100px;
}
.about p{
 color: aliceblue;
 width: 600px;
}
.container1{
  margin-top: 10% !important;
}
.container1 form{
  display: flex;
  flex-direction: column;
}
.container1 label{
  display: inline-block ;
}
.container1 input {
  display: inline-block;
  width: 40%;
  margin:auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
